@model Libro

<h2>Sei sicuro di voler eliminare @Model.Titolo?</h2>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Elimina</button>
</form>